[user]
	name = mark-bromell
	email = markbromell.business@gmail.com
[core]
	# Linux
	# autocrlf = input

	# Windows
	autocrlf = true
	whitespace = cr-at-eol
	safecrlf = false

	editor = code --wait
	excludesfile = ~/global.gitignore
[alias]
	a = add .
	amend = commit --amend --no-edit
	amendm = commit --amend -m
	b = branch -v
	build = commit --allow-empty -m \"Trigger build\"
	c = commit -m
	ca = commit --all -m
	ch = checkout
	chb = checkout -b
	cp = cherry-pick
	logo = log --oneline
	s = status
	# Summary
	sum = !echo "--- Remotes" && git remote -v && echo "" && echo "--- Status" && git status
