[user]
	name = mark-bromell
	email = markbromell.business@gmail.com
[core]
	whitespace = cr-at-eol
	autocrlf = false
	excludesfile = /home/mark/global.gitignore
	eol = lf
[alias]
	ca = commit --all
	s = status
