#!/usr/bin/env bash

# Make a directory and cd into it.
function md {
    mkdir $1
    cd $1
}

# Go to the repos directory.
# Accepts relative path argument to go into a specific repo.
function repo {
    cd "${REPOS}/${1}"
}

# Go to the vital directory
# Accepts relative path argument to go into a specific sub-dir.
function vital {
    cd "${VITAL}/${1}"
}
