root = true

[*]
tab_width = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{go}]
indent_style = tab

[{M,m}akefile]
indent_style = tab

[*Jenkinsfile]
indent_size = 2

# Misc docs, config, and scripting
[*.{md,yaml,yml}]
indent_size = 2

# Web stuff
[*.{html,css,json,tsx,svelte}]
indent_size = 2

